@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --clr-prm: #2f3a42;
  --clr-sec: #627583;
  --clr-tri: #c4c4c4;
}

/* https://codepen.io/luka-butina/pen/ZbeQzd */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #000428, #004e92);
  overflow-x: scroll;
}

main {
  height: 650px;
  width: 300px;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--clr-prm);
  border-radius: 30px;
  position: relative;
  box-shadow: rgba(10, 68, 95, 0.39) 0px 20px 30px;
}

/* display section  */

.display {
  color: rgb(255, 255, 255);
  position: relative;
  top: 0;
  overflow: hidden;
  height: 200px;
  border-top-left-radius: 30px;
}

.display img {
  position: absolute;
  object-fit: cover;
}

.mainimg {
  top: -69px;
  left: -80px;
  transform: rotate(80deg);
}

.display h3,
h1,
h6 {
  margin-left: 130px;
  font-weight: 400;
  color: #cecece;
}

.display h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.date {
  font-size: 12px;
  margin-top: 16px;
  margin-left: 130px;
  font-weight: 400;
  color: #cecece;
}

/* data section */
.data {
  background-color: var(--clr-sec);
  height: 500px;
  width: 100%;
  border-radius: 30px;
  position: absolute;
  top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* data current section  */
.current {
  height: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px;
  gap: 10px;
  justify-content: center;
  align-content: flex-end;
}

.info {
  background-color: var(--clr-tri);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info h2 {
  font-size: 20px;
}
.info p {
  font-size: 10px;
  margin-top: 4px;
}

.advice {
  height: 80px;
  width: 260px;
  background: linear-gradient(89.9deg, #e69368 15.66%, #ae4537 92.48%);
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}
.advice img {
  position: absolute;
  right: 0;
  margin-top: 2px;
}
.advice ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advice ul li {
  color: white;
  font-size: 12px;
  margin-left: 30px;
  margin-top: 2px;
}

/* chart section  */
canvas {
  background-color: var(--clr-tri);
  margin-top: 15px;
  padding: 10px;
}

/* loading animation */
.preloader {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    var(--clr-prm) 15.66%,
    var(--clr-sec) 92.48%
  );
  position: absolute;
  z-index: 2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preloader h3 {
  margin: 30px;
  color: var(--clr-tri);
  font-size: 30px;
}
.preloader p {
  margin: 20px;
  color: var(--clr-tri);
}

.remove {
  animation: fadeout 1s forwards;
}

@keyframes fadeout {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* loading animation from  */
/* https://codepen.io/tashfene/pen/raEqrJ */

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--clr-tri);
  /* top: 50%; */
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--clr-tri);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
