@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --clr-prm: #2f3a42;
  --clr-sec: #627583;
  --clr-tri: #c4c4c4;
}

/* https://codepen.io/luka-butina/pen/ZbeQzd */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(109, 42, 42);
}

main {
  height: 650px;
  width: 300px;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--clr-prm);
  border-radius: 30px;
  position: relative;
}

/* display section  */

.display {
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  height: 200px;
  border-top-left-radius: 30px;
}

.display img {
  position: absolute;
}

.mainimg {
  top: -69px;
  left: -80px;
  transform: rotate(80deg);
}

.display :is(h3, h1, h6) {
  margin-left: 130px;
  font-weight: 400;
  color: #cecece;
}

.display h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

/* data section */
.data {
  background-color: var(--clr-sec);
  height: 500px;
  width: 100%;
  border-radius: 30px;
  position: absolute;
  top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* data current section  */
.current {
  height: 200px;
  width: 100%;
  /* background-color: #fff; */
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px;
  gap: 10px;
  justify-content: center;
  align-content: flex-end;
}

.info {
  background-color: var(--clr-tri);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info h2 {
  font-size: 20px;
}
.info p {
  font-size: 10px;
  margin-top: 4px;
}

.advice {
  height: 80px;
  width: 260px;
  background: linear-gradient(89.9deg, #e69368 15.66%, #ae4537 92.48%);
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}
.advice img {
  position: absolute;
  right: 0;
  margin-top: 2px;
}
.advice ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advice ul li {
  color: white;
  font-size: 12px;
  margin-left: 30px;
  margin-top: 2px;
}

/* chart section  */
canvas {
  background-color: var(--clr-tri);
  margin-top: 15px;
  padding: 10px;
}
